In [21]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [18]:
my_series = [0,1,2,3]
my_index = ["A", "B", "C", "E"]
my_var2 = pd.Series(my_series, my_index)
my_var2
my_var2["E"]

3

In [19]:
cars = {"Tesla":12, "Mercedes": 42, "BMW":3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64

In [43]:
my_data = randn(4,3) #Rows, Columns
my_rows = ["A", "B", "C", "D"]
my_cols = ["Mon", "Tues", "Fri"]
my_df = pd.DataFrame(data=my_data, index=my_index, columns=my_cols)
my_df

        Mon      Tues       Fri
A -1.093387 -0.516363  0.608802
B -0.526924 -0.602921  1.859148
C -1.624818 -0.482643 -0.742064
E  0.029586  0.096867  0.985117

In [ ]:
my_df2 = pd.read_csv('test.csv')